<section>
    <form>
        <input type="text" ng-model="client.code" placeholder="code"/>
        <input type="text" ng-model="client.nom" placeholder="nom"/>
        <input type="text" ng-model="client.prenom" placeholder="prenom"/>
    </form>
</section>